<app-nav-bar></app-nav-bar>
<div class="leaderboard-container">
  <h2>Leaderboard</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <button *ngIf="leaderboard.length" (click)="downloadCSV()" class="download-btn">Download CSV</button>

  <table *ngIf="leaderboard.length" class="leaderboard-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Time Spent (s)</th>
        <th>SID 1</th>
        <th>SID 2</th>
        <th>SID 3</th>
        <th>SID 4</th>
        <th>SID 5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of leaderboard">
        <td>{{ team.TeamName }}</td>
        <td>{{ team.TimeSpent }}</td>
        <td>{{ team.Sid1 }}</td>
        <td>{{ team.Sid2 }}</td>
        <td>{{ team.Sid3 }}</td>
        <td>{{ team.Sid4 }}</td>
        <td>{{ team.Sid5 }}</td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="!leaderboard.length && !errorMessage" class="loading">Loading leaderboard...</div>
</div>
