.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #FFCC00;
    color: black;
    border: none;
    border-radius: 4px;
}

button:hover {
  background-color: #A48300;
}

button:disabled {
    background: #ccc;
}

.error {
    color: red;
    font-size: 0.9em;
}
  