<app-nav-bar></app-nav-bar>
<div class="dashboard-container">
  <h2>CVR Case Attempts</h2>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <button (click)="downloadCSV()" class="download-btn">
    Download CSV
  </button>

  <table *ngIf="attempts.length">
  <thead>
    <tr>
      <th>CAID</th><th>CID</th><th>SID</th><th>Grade</th>
      <th>TimeSpent</th><th>Answer</th><th>Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of attempts">
      <td>{{ a.CaseAttemptId }}</td>
      <td>{{ a.Cid           }}</td>
      <td>{{ a.Sid           }}</td>
      <td>{{ a.Grade         }}</td>
      <td>{{ a.TimeSpent === null ? 'null' : a.TimeSpent }}</td>
      <td>{{ a.Answer        }}</td>
      <td>{{ a.Login         }}</td>
    </tr>
  </tbody>
</table>

</div>
