<app-nav-bar></app-nav-bar>
<div class="dashboard-container">
  <h2>Dr Hemo Attempts</h2>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <button (click)="downloadCSV()" class="download-btn">
    Download CSV
  </button>

  <table *ngIf="attempts.length > 0">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of attempts">
        <td *ngFor="let col of columns">{{ a[col] }}</td>
      </tr>
    </tbody>
  </table>
</div>
