<app-nav-bar></app-nav-bar>
<div class="dashboard-container">
  <h2>CVR Case Attempts</h2>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <table *ngIf="attempts.length">
  <thead>
    <tr>
      <th>CAID</th><th>CID</th><th>SID</th><th>Grade</th>
      <th>TimeSpent</th><th>Answer</th><th>Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of attempts">
      <td>{{ a.caseAttemptId }}</td>
      <td>{{ a.cid           }}</td>
      <td>{{ a.sid           }}</td>
      <td>{{ a.grade         }}</td>
      <td>{{ a.timeSpent === null ? 'null' : a.timeSpent }}</td>
      <td>{{ a.answer        }}</td>
      <td>{{ a.login         }}</td>
    </tr>
  </tbody>
</table>


  <button (click)="downloadCSV()" class="download-btn">
    Download CSV
  </button>
</div>
