<nav class="nav-container">
  <div class="nav-left">
    <a class="nav-logo" href="/dashboard">Dashboard</a>
    <a class="nav-logo" href="/add-student">Add Student</a>
    <a class="nav-logo" href="/leaderboard">Leaderboard</a>
    <a class="nav-logo" href="/cvrcase-attempts">CVRCaseAttempts</a>
    <!-- You can add more links here -->
  </div>
  <div class="nav-right">
    <span class="welcome-text">Welcome, {{ username }}</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>
