<nav class="nav-container">
  <img src="ucf-logo.png"/>
  <div class="nav-left">
    <a class="nav-logo" href="/dashboard">Dashboard</a>
    <a class="nav-logo" href="/add-student">Add Student</a>
    <a class="nav-logo" href="/leaderboard">Leaderboard</a>
    <a class="nav-logo" href="/cvrcase-attempts">CaseAttempts</a>
    <a class="nav-logo" href="/cvrcases">Cases</a>
    <a class="nav-logo" href="/cvrflashcard-attempts">FlashcardAttempts</a>
    <a class="nav-logo" href="/cvrflashcards">Flashcards</a>
    <a class="nav-logo" href="/cvrquizattempts">QuizAttempts</a>
    <a class="nav-logo" href="/cvrquizes">Quizes</a>
    <a class="nav-logo" href="/drhemo-answers">Answers</a>
    <a class="nav-logo" href="/drhemo-attempts">Attempts</a>
    <a class="nav-logo" href="/drhemo-puzzlesteps">Puzzles</a>
    <!-- You can add more links here -->
  </div>
  <div class="nav-right">
    <span class="welcome-text">Welcome, {{ username }}</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>
